PORT=5000
MONGODB_URI=mongodb://localhost:27017/blogdb
JWT_SECRET=your_super_secret_jwt_key_here_change_this
NODE_ENV=development

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=drw2iivro
CLOUDINARY_API_KEY=213539353442152
CLOUDINARY_API_SECRET=JAjc1Co-BtbKZFPkvRdCrhCAV2A
